.main {
    background-image: url("./img/Home.png");
    background-color: rgba(242, 242, 242, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  
  .main-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 44.53px;
    padding-top: 41px;
    margin-left: 60px;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 48px;
    margin-left: 60px;
  }
  
  .blue {
    background-color: #59b4d1;
    color: #FFF;
  }
  
  .orange {
    background: #d0935a;
    color: #FFF;
  }
  
  .purple {
    background: #945ad1;
    color: #FFF;
  }
  
  .green {
    background: #59d090;
  }
  
  a {
    color: #000;
  }